body {
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: white;
}

.container {
  display: flex;
  flex-direction: column;
}

.container-head {
  padding: 10px;
}

.container-body {
  padding: 10px;
}

#todos-list {
  border: 1px solid #f0f0f0;
}

.todo-item {
  padding: 10px;
  font-size: 16px;
  color: black;
}

.todo-item.odd {
  background-color: #f5f5f5;
}

.todo-item.even {
  background-color: #eeeeee;
}

.todo-form {
  display: flex;
  flex-direction: column;
}

.todo-input {
  width: 300px;
  padding: 10px;
  border: 1px solid #f0f0f0;
  font-size: 16px;
}

.primary-btn {
  padding: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  color: white;
  background-color: #004085;
  font-size: 16px;
  border: 1px solid #b8daff;
  border-radius: 5px;
}
